

<div id="cardI" class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header cardTitle">${internName}
        <br>
        <i class="fas fa-user-graduate"></i>
        Intern
    </div>
    <div class="card-body bg-primary cardContent">
        <p class="card-text bg-primary mb-3">ID: ${id}</p>
        <p class="card-text bg-primary mb-3">Email: <a href="mailto: sevenspell@hotmail.com"> ${email}</a></p>
        <p class="card-text bg-primary mb-3">School: ${internSchool}</p>
    </div>
</div>