


<div id="cardM" class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header cardTitle">${managerName}
        <br>
        <i class="fas fa-user-tie"></i>
          Manager
    </div>
    <div class="card-body bg-warning cardContent">
        <p class="card-text bg-warning mb-3">ID: ${id}</p>
        <p class="card-text bg-warning mb-3">Email: <a href= "mailto: sevenspell@hotmail.com"> ${email}</a></p>
        <p class="card-text bg-warning mb-3">Office Number: ${managerNumber}</p>
    </div>
</div>