


<div class="row justify-content-center">
    <div class="col-sm-12 manager">
        <div id="cardM" class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header cardTitle">${data.name}
                <br>
                <i class="fas fa-user-tie"></i>
                  Manager
            </div>
            <div class="card-body bg-warning cardContent">
                <p class="card-text bg-warning mb-3">ID: ${data.id}</p>
                <p class="card-text bg-warning mb-3">Email: <a href= "mailto: ${data.email}"> ${data.email}</a></p>
                <p class="card-text bg-warning mb-3">Office Number: ${data.officeNumber}</p>
            </div>
        </div>
    </div>
</div>